
        <!-- ロゴ -->


        <section class="container">
  <div class="left-half">
    <article>
      <img class = "img1" src="/assets/sakura.jpg" alt="">
      <h1>Left Half</h1>
      <p>text</p>
    </article>
  </div>
  <div class="right-half">
    <article>
      <img class = "img1" src="/assets/green.jpg" alt="">
      <h1>Right Half</h1>
      <p>text</p>
    </article>
  </div>
</section>



        <div class="text1">
          <p>Hi, my name is Kasumi 22 years old,</br>I'm university student in Japan.</br>At the moment, I learn coding in Sydney.</p>

        </div>
