<body>

	<input type="checkbox" class="check push" id="checked-push">
	<label class="switch push" for="checked-push"></label>

	<div class="gatefold">
	</div>

	<header class="header">
		<h1 >Hi, my name is Kasumi</h1>

		<img id ="maiko"src="/assets/maiko.jpg" alt="maiko">
	</header>
		<main class="contents">
		<h2>I am university student</br>and majoring in Chinese.</h2>
		<img class ="snip1352"src="/assets/doshisha.jpg" alt="">
		<h3>I am learning</br>programming in Sydney.</h3>
		<img class="snip1352" src="/assets/pc.jpg" alt=""></br>

		<h3>How to describe me...?</h3></br>
		<img class="snip1352" src="/assets/personality.png" alt="">


			<section class="contents__inner">
				<pre><div class="text1"><p>CONTACT:</p><p>Kasumi Takeshima</br>kasumi0201@gmail.com</p></div></pre>
			</section>
		</main>

		<footer class="footer">
			<a href="https://www.linkedin.com/in/kasumi-takeshima-7a06b8147"><img class ="linkedin" src="/assets/Linkedin.svg.png" alt=""></a>
			<a href="https://github.com/kasumi0201"><img class ="github"src="/assets/github.svg" alt=""></a>
			<a href="https://twitter.com/kasumikanzume/"><img class ="twitter"src="/assets/twitter.svg" alt=""></a>
			<a href="https://www.facebook.com/kasumi.takeshima"><img class ="facebook"src="/assets/facebook.svg.png" alt=""></a>
			<a href="https://www.instagram.com/kasumikanzume/?hl=ja"><img class ="instagram"src="/assets/insta.svg.png" alt=""></a>
		</footer>

</body>
