
<div class="contents">
  <img class ="snip1352" src="/assets/tra.png" alt="">
  <img class ="snip1352" src="/assets/bsk.png" alt="">
  <img class ="snip1352" src="/assets/cho.png" alt="">
  <img class ="snip1352" src="/assets/div.jpg" alt="">
</div>
