<div class="text2">
<p>I am learning these...</p>
</div>
<div class="contents">
<img class ="snip1352" src="/assets/html5.jpg" alt="">
<img class ="snip1352" src="/assets/css.png" alt="">
<img class ="snip1352" src="/assets/ruby.png" alt="">
</div>
