/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

*{
  font-family: 'Courier New',sans-serif;
  color:rgb(242, 169, 159);
  padding: 0;
  margin: 0;
}
.title{
  text-decoration: underline;
  font-weight: bold;
}

.center{
 text-align: center;
 height:60px;
 width: auto;
 margin-bottom:  100px;
}

.title{
  text-align: center;
  font-size: 36px;
  img{
    height: 100px
  }
}

#hi{
  color:#FFF;
  background: url(/assets/maiko.jpg);
  width: 70%;
  height:850px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  opacity: 0.9;
  font-weight: bold;

  p {
    opacity: 0.9;
    font-weight: bold;
    color:#FFF;
    font-size: 36px;
    font-family: 'Courier New',sans-serif;
    float: left;
  }
}

p {
  color:rgb(129, 196, 39);}

.linkedin,.instagram,.facebook,.twitter,.github{
  height:30px;
  width:30px ;
}
