/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.logo{
 height:60px;
 width: auto;
 float: left;
}


 /* Pen-specific styles */
 * {
   box-sizing: border-box;
 }
 html, body, section, div {
   height: 100%;
 }

 body {
   color: #fff;
   font-size: 1.25rem;
   line-height: 150%;
   text-align: center;
   text-shadow: 0 2px 2px rgba(#b6701e, 0.15);
 }


 article {
   position: relative;
   top: 50%;
   left: 50%;
   padding: 1rem;
   text-align: center;
   transform: translate(-50%, -50%);
 }

 h1 {
   font-size: 1.75rem;
   margin: 0 0 0.75rem 0;
 }

 /* Pattern styles */
 .left-half {
   float: left;
   width: 50%;
   margin-top:50px;
 }
 .img1{
   width:100%;
   height:auto;
 }
 .right-half {
   float: left;
   width: 50%;
      margin-top:50px;
 }

 // ここから自分の

 .container1,.logo{
   height:60px;
   float: left;
 }

.justify-content-end{
  padding: 50px;
  font-size: 38px;
  font-family: 'PT Sans Narrow',sans-serif;
  // color: #rgba(170, 104, 36, 0.84)!important;
}

.nav{
  padding: 50px;
}

.justified-content-center > li > a {
color: #fff;
}
.justified-content-center > li >a:hover{
color: #c39675;
}


a:link	{
	color : #965008;
}
a:hover{
  color:#FFF;
}
a:visited	{
	color : #eb9134;
}
