// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p{
  color: #000;
}

.nav-item{
  padding: 20px;
}


/* gatefold */
.gatefold {
 width: 100%;
 height: 100%;
}
/* 左の画像 */
.gatefold::before {
    left: 0;
    clip: rect(0px 50vw 100vh 0px);
}

/* 右の画像 */
.gatefold::after {
    right: 0;
    clip: rect(0px 100vw 100vh 50vw);
}

.gatefold::before,
.gatefold::after {
 content: '';
 position: fixed;
 top: 0;
 width: 100%;
 height: 100vh;
 background: url(mainpic.png) top center no-repeat;
 background-size: cover;
 -webkit-transition: all 1s;
 transition: all 1s;
 z-index: 1;
}


.gatefold::before {
 left: 0;
 clip: rect(0px 50vw 100vh 0px);
}

.gatefold::after {
 right: 0;
 clip: rect(0px 100vw 100vh 50vw);
}

/* contents */
.header,
.contents,
.footer {
 max-width: 1000px;
 margin: 0 auto;
 padding: 80px 0;
 text-align: center;
}

.contents {
 padding: 0;
}

.contents__inner {
 box-sizing: border-box;
 max-width: 680px;
 height: 100%;
 margin: 40px auto 0;
 padding: 20px;
 text-align: left;
 background: #eee;
}

.contents__inner h2 {
 padding: 10px;
 font-size: 20px;
 font-weight: bold;
 border-bottom: 1px solid #666;
}

.btn__box {
 text-align: center;
}

.btn__box a {
 display: inline-block;
 width: 250px;
 height: 50px;
 margin: 0 auto;
 line-height: 50px;
 font-size: 13px;
 color: #000;
 border: 1px solid #000;
}

/* checkbox */
.check {
 display: none;
}

.switch {
 position: fixed;
 left: 0;
 right: 0;
 width: 300px;
 height: 140px;
 margin: auto;
 font-size: 80px;
 font-weight: bold;
 text-align: center;
 cursor: pointer;
 text-shadow: 5px 5px 10px rgba(0,0,0,.8);
 color: #fff;
 -webkit-transition: all .5s;
 transition: all .5s;
 visibility: visible;
 opacity: 1;
 z-index: 2;
}

.switch.push {
 top: 50%;
}

.switch.push::before {
 content: 'OPEN';
 -webkit-transition: all .5s;
 transition: all .5s;
  opacity: 0.4;
}

.check.push:checked ~ .switch.push::before {
 content: 'CLOSE';
 -webkit-transition: all .5s;
 transition: all .5s;
 opacity: 0.3;
}

.check.push ~ .gatefold::before {
 -webkit-transform-origin: left center;
 -ms-transform-origin: left center;
 transform-origin: left center;
}
 .check.push ~ .gatefold::after {
 -webkit-transform-origin: right center;
 -ms-transform-origin: right center;
 transform-origin: right center;
}

.check.push:checked ~ .gatefold::before {
 -webkit-transform: perspective(1500px) rotateY(50deg);
 transform: perspective(1500px) rotateY(50deg);
}
.check.push:checked ~ .gatefold::after {
 -webkit-transform: perspective(1500px) rotateY(-50deg);
 transform: perspective(1500px) rotateY(-50deg);
}

// ここから自分の

.container1,.logo{
  height:60px;
  float: left;
}

.justify-content-center{
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0 auto;
  font-size: 28px;
  font-family: 'Courier New',sans-serif;
}

a:link	{
  color : #81C427;
}
a:hover{
  color:#965008!important;
  text-decoration: none!important;
}
a:visited	{
 color : #eb9134;
}
