// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p{
  color: #000;
}

.nav-item{
  padding: 20px;
}
// ＝＝＝＝＝＝＝doors＝＝＝＝＝＝＝＝＝＝＝

/* left pic */
.gatefold::before {
  left: 0;
  clip: rect(0px 50vw 100vh 0px);
}

/* right pic */
.gatefold::after {
  right: 0;
  clip: rect(0px 100vw 100vh 50vw);
}

.gatefold::before,
.gatefold::after {
 content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(mainpic.png) top center no-repeat;
  background-size: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 1;
}

.gatefold::before {
 left: 0;
 clip: rect(0px 50vw 100vh 0px);
}

.gatefold::after {
 right: 0;
 clip: rect(0px 100vw 100vh 50vw);
}


// ＝＝＝＝＝＝＝/* contents */＝＝＝＝＝＝＝＝＝＝＝

.contents,
.footer {
 max-width: 1000px;
 margin: 0 auto;
 padding: 10% 0;
 text-align: center;
}

.header{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

// ＝＝＝＝＝＝＝buttom for doors＝＝＝＝＝＝＝＝＝＝＝

.switch {
 position: fixed;
 left: 0;
 right: 0;
 margin: auto;
 font-size: 400%;
 font-weight: bold;
 text-align: center;
 cursor: pointer;
 text-shadow: 4px 4px 4px #ccc;
 color: #FFF;
 -webkit-transition: all .5s;
 transition: all .5s;
 visibility: visible;
 z-index: 2;
}

.switch.push {
 top: 80%;
}

.switch.push::before {
 content: 'Welcome to my portfolio';
 -webkit-transition: all .5s;
 transition: all .5s;
  opacity: 0.9;
}

.check.push:checked ~ .switch.push::before {
 content: '▼';
 -webkit-transition: all .5s;
 transition: all .5s;
 opacity: 0.7;
}

// ＝＝＝＝＝＝＝doors action＝＝＝＝＝＝＝＝＝＝＝

.check.push ~ .gatefold::before {
 -webkit-transform-origin: left center;
 -ms-transform-origin: left center;
 transform-origin: left center;
}
 .check.push ~ .gatefold::after {
 -webkit-transform-origin: right center;
 -ms-transform-origin: right center;
 transform-origin: right center;
}

.check.push:checked ~ .gatefold::before {
 -webkit-transform: perspective(1500px) rotateY(50deg);
 transform: perspective(1500px) rotateY(50deg);
}
.check.push:checked ~ .gatefold::after {
 -webkit-transform: perspective(1500px) rotateY(-50deg);
 transform: perspective(1500px) rotateY(-50deg);
}

// ＝＝＝＝＝＝＝ top logo＝＝＝＝＝＝＝＝＝＝＝

.logo{
  height:60px;
  float: left;
}

// ＝＝＝＝＝＝＝ menu bar using bootstrap＝＝＝＝＝＝＝＝＝＝＝

.justify-content-center{
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0 auto;
  font-size: 28px;
  width: 50%;
  font-family: 'Courier New',sans-serif;
}

a{
  color : #81C427!important;
}

a:hover{
  color:#ecf9e3!important;
  text-decoration: none!important;
}
// ＝＝＝＝＝＝＝image for body 3 /page/study 3＝＝＝＝＝＝＝＝＝＝＝
.snip1352{
  margin-bottom: 100px;
  width: 50%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px 20px -10px rgba(0, 0, 0, 0.9);
}

// ＝＝＝＝image zoom in ＝＝＝＝

img.snip1352 {
  max-width: 100%;
  vertical-align: top;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

img.snip1352:hover ,
img.snip1352.hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

// ＝＝＝＝＝＝＝＝contact name and email＝＝＝＝＝＝＝＝＝＝

.text1{
  text-align: center;
  padding: 4%;
}
.contents {
  padding: 0;
}

.contents__inner {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  margin: 40px auto 0;
  padding: 20px;
  text-align: left;
  background: #FFF;
  box-shadow: 5px 10px 20px -10px rgba(0, 0, 0, 0.9);
}

.contents__inner:hover{
  animation: shake 0.5s linear infinite;
  -webkit-animation: shake 0.5s linear infinite;
}

@keyframes shake {
0% { transform: translate(3px, 2px) rotate(0deg); }
10% { transform: translate(-2px, -3px) rotate(-1deg); }
20% { transform: translate(-4px, 0px) rotate(1deg); }
30% { transform: translate(0px, 3px) rotate(0deg); }
40% { transform: translate(2px, -2px) rotate(1deg); }
50% { transform: translate(-2px, 3px) rotate(-1deg); }
60% { transform: translate(-4px, 2px) rotate(0deg); }
70% { transform: translate(3px, 2px) rotate(-1deg); }
80% { transform: translate(-2px, -2px) rotate(1deg); }
90% { transform: translate(2px, 4px) rotate(0deg); }
100% { transform: translate(2px, -3px) rotate(-1deg); }
}

// ＝＝＝＝＝＝＝＝for small screen device＝＝＝＝＝＝＝＝＝＝

@media screen and (max-width: 320px) {
  li.nav-item{
  padding: 0 auto;
    a{
    font-size: 12px;
    }
  }

  .contents__inner{
    width: 80%;
    padding: 0;
    margin: 0 auto;
    }
  .footer{
    margin-top: 15%;
    margin-bottom: 15%;
    }
}
