
<div class ="container1">
<img class = "logo" src="/assets/onlinelogomaker-090417-1204-4483.png" alt="logo">


</div>


<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
    <%= link_to 'aboutme', aboutme_path%>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">study</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">interests</a>
  </li>
</ul>
