<div class ="center">

</div>

<div class="title">
  <img src="/assets/logo2.png" alt="logo">
  <head>Kasumi's Portfolio</head>

</div>

<div class="navbar">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <%= link_to 'homepage', homepage_path%>
    </li>
    <li class="nav-item">
      <%= link_to 'about me', aboutme_path%>
    </li>
    <li class="nav-item">
      <%= link_to 'study', study_path%>
    </li>
    <li class="nav-item">
      <%= link_to 'interests　', interests_path%>
    </li>
  </ul>
</div>
